.logo h1{
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.menuitems li{
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.menuitems{
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
